/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
@keyframes translateLeftRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(4px);
    }
  }

  @keyframes ScaleIncrease {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }

  @keyframes OpacityIncrease {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .like-icon:hover {
    .core {
      fill: var(--contour-color);
      transition: fill 0.3s linear;
    }
  
    .main-body {
      fill: var(--contour-color);
      transition: fill 0.3s linear 0.05s;
    }
  }

  .like-icon {
    transform-origin: center center;
    
    .core {
      fill: transparent;
      transition: fill 0.3s linear 0.03s;
    }
  
    .main-body {
      fill: transparent;
      transition: fill 0.3s linear;
    }
  }
  
  .like-icon:active {
    .core {
      fill: var(--fill-color);
      transition: fill 0.3s linear 0s;
    }
  
    .main-body {
      fill: var(--fill-color);
      transition: fill 0.3s linear 0.05s;
    }
  }
  
  .like-icon.is-liked .core {
    fill: var(--fill-color);
    transition: fill 0.3s linear 0s;
  }
  
  .like-icon.is-liked .main-body {
    fill: var(--fill-color);
    transition: fill 0.3s linear 0.05s;
  }
  
  .like-icon.is-liked .contour {
    fill: var(--fill-color);
    transition: fill 0.3s linear 0.06s;
  }
  
  .contour {
    transition: fill 0.1s linear 0s;
  }
  
  .like-icon.is-liked .heart {
    animation: ScaleIncrease 0.3s 0.1s ease-in 1 alternate;
  }
  
  .like-icon.is-liked .sparks {
    animation: OpacityIncrease 0.3s 0.3s ease-in 1 alternate;
  }