/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  max-width: 696px;
  min-block-size: 100dvb;
  font-family: var(--main-text), sans-serif;
  font-variation-settings: "wght" var(--card-text-weight);
  background-color: var(--background-color);
  color: var(--accent-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-block: 100px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000000);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--accent-text);
  font-weight: var(--card-text-weight);
}

.theme-menu {
  display: flex;
  margin: auto;
}

.theme-menu__button {
  border: none;
  background-color: inherit;
  text-transform: uppercase;
  font-weight: var(--card-text-weight);
  font-size: 14px;
  position: relative;
  transition: color 0.3s;
  margin-left: 23px;
}

.title {
  margin-bottom: 20px;
  margin-top: 134px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.subtitle {
  margin-bottom: 23px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.theme-menu__list {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 22px;
  text-align: left;
}

.theme-menu__item:not(:last-child) {
  margin-bottom: 12px;
}

.article {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  background-color: var(--background-color);
  font-size: 18px;
  min-block-size: 100dvb;
  border: 2px solid var(--accent-color, #000000);
}

.article_text {
  padding: 27px 26px 0 25px;
}

.article_title {
  font-variation-settings: "wght" var(--card-title-weight);
  font-size: inherit;
  padding: 3.5px 10px 5.5px 10px;
}

.car_image {
  width: 100%;
  object-fit: cover;
}

.image_block {
  position: relative;
  max-width: 100%;
  max-height: 696px;
  border-block: 2px solid var(--accent-color, #000000);
}

.watermark {
  position: absolute;
  text-transform: uppercase;
  right: 25px;
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  font-family: var(--accent-text);
  font-size: 14px;
  font-weight: var(--card-text-weight);
  text-shadow:
    -1px 0 var(text-stroke), 
    0 1px var(--background-color), 
    1px 0 var(--background-color), 
    0 -1px var(--background-color);
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
    .watermark {
        -webkit-text-stroke: 1px var(--background-color);
        text-stroke: 1px var(--background-color);
        text-shadow: none;
    }
}

.theme-menu__button:disabled {
  color: var(--disabled-menu-color);
  pointer-events: none;
  transition: color 0.3s;
  animation-timing-function: ease;
}

.theme-menu__button:hover {
  color: var(--disabled-menu-color);
  cursor: pointer;
  transition: color 0.3s;
  animation-timing-function: ease;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  outline: none;
  color: var(--disabled-menu-color);
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  margin-top: 0px;
  background-color: var(--disabled-menu-color);
  transition: width 0.3s;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation-name: translateLeftRight;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.button__text {
  font-family: var(--accent-text);
  font-weight: var(--card-text-weight);
  font-size: 14px;
  position: relative;
  color: var(--button__text-color);
  z-index: 1;
  mix-blend-mode: difference;
}

.button_memory {
  display: flex;
  padding: 15px;
  align-items: center;
  gap: 8px;
  min-width: 335px;
  max-height: 55px;
  margin-inline: auto;
  margin-bottom: 103px;
}

.like-area {
  display: flex;
  align-self: end;
  justify-content: center;
  padding: 25px 25px 29px 0;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: box-shadow 0.3s;
}

.card__like-button {
  background-color: inherit;
  width: 130px;
  height: 38px;
}

.button::after {
  content: '';
  display: block;
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: width 0.5s;
  animation-timing-function: ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.button:hover {
  color: var(--background-color);
}

.button {
  transition: color 0.3s;
  border: 2px solid var(--accent-color, #000000);
  position: relative;
  color: var(--background-color);
  background-color: var(--background-color);
}

.floppy {
  position: relative;
  z-index: 1;
  color: var(--button__text-color);
  mix-blend-mode: difference;
  max-width: 21px;
}

.floppy_dialog {
  width: 39px;
  height: 39px;
  color: var(--button__text-color);
  mix-blend-mode: difference;
  z-index: 1;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-right: 6px;
  margin-top: 2px;
  height: 34px;
  outline: 2px solid transparent;
} 

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color, #000000);
  transition: outline 0.3s;
  animation-timing-function: ease;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.text_uppercase {
  text-transform: uppercase;
}

.submition {
  width: 293px;
  height: 38px;
  font-family: var(--accent-text);
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 30px;
}

.dialog-title {
  font-family: var(--accent-text);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 20px;
}

.dialog {
  max-width: 357px;
  padding: 30px;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color, #000000);
  color: var(--accent-color);
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  justify-items: center;
  align-items: center;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog[open] {
  display: grid;
}

.filter-brightness {
  filter: brightness(200%);
} 

.filter-contrast {
  filter: contrast(30%);
}

.filter-blur {
  filter: blur(0.5rem);
}

.filter-opacity {
  filter: opacity(0.8);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(200%);
}

.filter-hue-rotate {
  filter: hue-rotate(-85deg) sepia(80%);
}

@media (max-width: 376px) {
  .page {
    width: 100vw;
  }

  .title {
    margin-top: 120px;
  }

  .theme-menu__list {
    margin-bottom: 20px;
  }

  .image_block {
    max-height: 375px;
  }

  .watermark {
    right: 13px;
  }

  .button_memory {
    flex-direction: column;
    max-height: 84px;
    min-width: 306px;
    margin-bottom: 100px;
  }

  .article_text {
    padding: 25px 26px 0 25px;
  }

  .floppy {
    max-width: 28px;
  }

  .dialog {
    max-width: 345px;
    padding: 30px 42px;
  }

  .submition {
    width: 257px;
  }
}